html
{
}

body
{
    font-size: 12px;
    font-family: arial,helvetica,sans-serif;
    background-color: #202030;
    color: white;
    margin: 0;
    overflow: hidden;
}

.header
{
    background: url("img/header_bg.png") repeat-x scroll left bottom transparent;
    
    height: 28px;
    position: relative;
    width: 100%;
	font-size: large;
}

.title {font-size: 30pt; font-weight: bold; padding-top: 20px}
.birthdayList {font-size: 20pt}
#future .title {}
#today .title {}
